<mat-toolbar color="primary" style="background-color: aqua">
  <a routerLink="/">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon style="color: white">school</mat-icon>
    </button>
    <span style="color: white">Exam Portal</span>
  </a>
  <span class="example-spacer"></span>
  <a
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    style="margin-right: 30px"
    routerLink="/login"
    *ngIf="!isLoggedIn()"
  >
    Login
    <mat-icon>login</mat-icon>
  </a>
  <a
    mat-icon-button
    class="example-icon mr20"
    aria-label="Example icon-button with share icon"
    style="margin-right: 30px"
    routerLink="/signup"
    *ngIf="!isLoggedIn()"
  >
    Register
    <mat-icon>how_to_reg</mat-icon>
  </a>
  <a
    mat-icon-button
    class="example-icon mr20"
    aria-label="Example icon-button with share icon"
    style="margin-right: 40px"
    routerLink="/admin/profile"
    *ngIf="isLoggedIn()"
  >
    {{ users.username }}
    <mat-icon>account_circle</mat-icon>
  </a>
  <a
    (click)="logOut()"
    mat-icon-button
    class="example-icon mr20"
    aria-label="Example icon-button with share icon"
    style="margin-right: 30px"
    routerLink="/signup"
    *ngIf="isLoggedIn()"
  >
    Logout
    <mat-icon>logout</mat-icon>
  </a>
</mat-toolbar>
