<mat-card>
  <h1>Update Quiz</h1>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form *ngIf="quiz" (ngSubmit)="updateQuiz(quiz.id)">
        <mat-form-field class="w100" appearance="outline">
          <mat-label>Enter Title</mat-label>
          <input
            [(ngModel)]="quiz.title"
            type="text"
            name="title"
            placeholder="Enter here"
            matInput
            required
          />
        </mat-form-field>
        <mat-form-field class="w100" appearance="outline">
          <mat-label>Enter Description</mat-label>
          <textarea
            [(ngModel)]="quiz.description"
            type="text"
            name="description"
            placeholder="Enter here"
            matInput
          ></textarea>
        </mat-form-field>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="w100" appearance="outline">
              <mat-label>Max Marks</mat-label>
              <input
                [(ngModel)]="quiz.maxMarks"
                type="text"
                name="maxMarks"
                placeholder="Enter here"
                matInput
              />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w100" appearance="outline">
              <mat-label>Number of Question</mat-label>
              <input
                [(ngModel)]="quiz.numberOfQuestions"
                type="text"
                name="numberOfQuestions"
                placeholder="Enter here"
                matInput
              />
            </mat-form-field>
          </div>
        </div>

        <!--active field-->
        <mat-slide-toggle
          [(ngModel)]="quiz.active"
          class="example-margin"
          name="active"
        >
          Public Status
        </mat-slide-toggle>

        <mat-form-field appearance="fill">
          <mat-label>Category</mat-label>
          <mat-select name="category" [(ngModel)]="quiz.category">
            <mat-option *ngFor="let c of categories" [value]="c.id">{{
              c.title
            }}</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="container text-center mt15">
          <button mat-raised-button color="primary" type="submit">
            Update
          </button>
        </div>
      </form>
    </div>
  </div>
</mat-card>

{{ quiz | json }}
