<!-- <div class="bootstrap-wrapper">
  <div class="container">
    <div class="row" style="margin-top: 20px">
      <div class="col-md-6 offset-md-3">
        <mat-card style="background-color: white">
          <div class="container text-center">
            <img
              src="../../../assets/images/logo.svg"
              alt=""
              width="30px"
              height="30px"
            />
          </div>
          <h1 class="text-center">Register Here!</h1>
          <form action="">
            <mat-form-field appearance="fill">
              <mat-label>Enter your First Name</mat-label>
              <input matInput placeholder="first name" required />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Enter your Last Name</mat-label>
              <input matInput placeholder="last name" required />
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Enter your Phone Number</mat-label>
              <input matInput placeholder="phone number" required />
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Enter your email</mat-label>
              <input matInput placeholder="email" required />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Enter your Username</mat-label>
              <input matInput placeholder="username" required />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Enter your password</mat-label>
              <input matInput />
              <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </mat-form-field>
            <div class="container text-center">
              <button mat-raised-button color="primary">Sign Up</button>
              <button type="reset" style="margin-left: 20px" mat-raised-button>
                Reset
              </button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="container text-center">
        <img
          src="../../../assets/images/logo.svg"
          alt=""
          width="34px"
          height="34px"
        />
      </div>
      <h1 class="text-center">Register Here</h1>
      <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label class="form-label">First Name</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="user.firstname"
            name="firstname"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Last Name</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="user.lastname"
            name="lastname"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Phone Number</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="user.phone"
            name="phone"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            [(ngModel)]="user.email"
            name="email"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Username</label>
          <input
            type="email"
            class="form-control"
            [(ngModel)]="user.username"
            name="username"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            [(ngModel)]="user.password"
            name="password"
          />
        </div>

        <div class="mb-3 text-center">
          <button type="submit" class="btn btn-primary d-inline">
            Register
          </button>
          <button
            type="reset"
            class="d-inline btn btn-danger"
            style="margin-left: 10px"
          >
            Reset
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
