<mat-card>
  <mat-action-list>
    <div mat-subheader>Menu</div>
  </mat-action-list>
  <mat-list role="list">
    <mat-list-item role="listitem">
      <button mat-raised-button routerLink="/admin" color="primary">
        <mat-icon mat-list-icon>home</mat-icon> Home
      </button></mat-list-item
    >
    <mat-list-item role="listitem"
      ><button mat-raised-button color="primary" routerLink="/admin/profile">
        <mat-icon mat-list-icon>account_circle</mat-icon> Profile
      </button></mat-list-item
    >
    <mat-list-item role="listitem"
      ><button mat-raised-button color="primary" routerLink="/admin/categories">
        <mat-icon mat-list-icon>list</mat-icon> Categories
      </button></mat-list-item
    >
    <mat-list-item role="listitem"
      ><button
        mat-raised-button
        color="primary"
        routerLink="/admin/category/add"
      >
        <mat-icon mat-list-icon>add_circle</mat-icon>Add Categories
      </button></mat-list-item
    >
    <mat-list-item role="listitem"
      ><button mat-raised-button color="primary" routerLink="/admin/quizes">
        <mat-icon mat-list-icon>quiz</mat-icon> Quizes
      </button></mat-list-item
    >
    <mat-list-item role="listitem"
      ><button mat-raised-button color="primary" routerLink="/admin/profile">
        <mat-icon mat-list-icon>add</mat-icon>Add Quiz
      </button></mat-list-item
    >
    <mat-list-item role="listitem"
      ><button mat-raised-button color="primary" routerLink="/admin/profile">
        <mat-icon mat-list-icon>logout</mat-icon>Logout
      </button></mat-list-item
    >
  </mat-list>
</mat-card>
