<mat-card *ngFor="let quiz of quizes" class="q-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>
      {{ quiz.title }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ quiz.description }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ quiz.description }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="accent">Questions</button>
    <button mat-stroked-button color="accent">
      Max Marks {{ quiz.maxMarks }}
    </button>
    <button mat-stroked-button color="accent">
      Number of questions {{ quiz.numberOfQuestions }}
    </button>
    <button mat-flat-button color="accent">Update</button>
    <button mat-flat-button color="accent">Attemts</button>
    <button mat-flat-button color="warn" (click)="deleteQuiz(quiz.id)">
      Delete
    </button>
  </mat-card-actions>
</mat-card>

<div class="container text-center">
  <button routerLink="/admin/add-quiz" mat-raised-button color="accent">
    Add New Quiz
  </button>
</div>
